/out/*
node_modules
.venv/
__pycache__/
.vscode-test/*
!.vscode-test/complete-resource-specification.json
!.vscode-test/short-resource-specification.json
*.vsix
.mypy_cache
.python-version

# Ignore everything in the test folder
/test/*

# But don't ignore these files
!test/complete-resource-specification.json
!test/short-resource-specification.json
!out/README.md
