.gitchangelog.rc
.github/**
.gitignore
.pytest_cache/**
.venv/**
.vscode-test/**
.vscode/**
**/*.ts
out/README.md
src/**
tests/**
images/*.gif
out/*.map
tsconfig.json
.nvmrc
specification/**
.ruff_cache/**
node_modules/**
scripts/**
